.content {
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;
  .inner {
    background-color: #fff;
    border: 1px solid #e3e3e3;
  }
}

.link {
  color: inherit;
  text-decoration: none;
  display: block;
  background: white;
}

.price {
  font-weight: bold;
}
