body {
  padding: 0;
  margin: 0;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, GillSansMTStd-Medium,
    Avenir, Corbel, Arial, Helvetica, sans-serif;
  color: #555!important;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
}

* {
  box-sizing: border-box;
}

.black {
  color: #000;
}

.red {
  color: #9d1212;
}

.green {
  color: #0a661a;
}

.marginBottom15 {
  margin-bottom: 15px;
}

main > .container {
  background: #fff;
}

.categoryTitle {
  text-align: center;
  font-size: 1.5vw;
  color: #999;
  font-weight: 300;
  text-transform: none;
  padding: 25px;
}

.padding25 {
  padding: 25px;
}

h1 {
  margin-top: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

h2 {
  margin-top: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: initial;
  text-transform: none;
}

h3 {
  margin-top: 0;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1.07px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
}

h5 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
}

h6 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
}

p {
  margin-top: 0;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .categoryTitle, h3 {
      font-size: 6vw;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 30px;
    letter-spacing: 2.81px;
    line-height: 38px;
  }
}

@font-face {
  font-family: "GillSansforJL";
  src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.eot");
  src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.eot?#iefix") format("embedded-opentype"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.woff2") format("woff2"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.woff") format("woff"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.ttf") format("truetype"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.svg#jlicons") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GillSansforJL";
  src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.eot");
  src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.eot?#iefix") format("embedded-opentype"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.woff2") format("woff2"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.woff") format("woff"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.ttf") format("truetype"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.svg#jlicons") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}