.productItem {
    border : 1px solid #e3e3e3;
    padding : 35px;
    a{
        color: #555;
        text-decoration: none;
        &:hover {
            color: #000;
        }
    }
    .image {
        margin-bottom: 10px;
    }
}

.contentProduct {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    .readMore {
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        font-size: 30px;
        padding: 30px 0;
    }
    .productCarousel {
        text-align: center;
    }
    .productLeft {
        padding: 0 0 50px 50px;
        border-right: 1px solid #e3e3e3;
        h3 {
            margin: 40px 0 40px;
        }
    }
    .productRight {
        padding: 50px;
    }
    .productInfo {
        padding-right: 50px;
    }
    .productSpec {
        ul {
            border-top: 1px solid #e3e3e3;
            list-style: none;
            margin: 0 50px 0 0;
            padding: 0;
            li {
                border-bottom: 1px solid #e3e3e3;
                padding: 20px 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .categoryTitle, .contentProduct .readMore {
        font-size: 6vw;
    }
    .contentProduct {
        .productLeft {
            padding : 0;
            border: 0;
            .productInfo {
                padding: 0;
            }
        }
        .productSpec {
            ul {
                margin-right: 0;
            }
        }
        .productRight { 
            padding: 20px 0;
            margin: inherit;
            border-bottom: 1px solid #e3e3e3;
        }
    }
}
  